In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-eu.apache.org/dist/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
!tar xf spark-2.4.1-bin-hadoop2.7.tgz
!pip install -q findspark
!pip install -q pyspark

tar: spark-2.4.1-bin-hadoop2.7.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import isnan, when, count, col,lit
from pyspark.sql.types import  StructField, StructType, StringType, IntegerType,FloatType
from pyspark.ml.stat import Correlation
from pyspark.ml.feature import VectorAssembler,MinMaxScaler
import numpy as np
from pyspark.ml import Pipeline
from pyspark.ml.regression import GBTRegressor
from pyspark.ml.evaluation import RegressionEvaluator

In [ ]:
spark = SparkSession.builder.appName("Modelo de Regreção").getOrCreate()
dataset = spark.read.csv("sample_data/california_housing_train.csv",header=True)
dataset2 = spark.read.csv("sample_data/california_housing_test.csv",header=True)

In [ ]:
dataset.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000| 472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000| 463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000| 117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000| 226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000| 262.000000|     1.925000|      65500.000000|
|-114.580000|33.630000|         29.000000|1387.000000|    236.000000| 671.000000| 239.000000|     3.343800|      74000.000000|
|-114.580000|33.610000|         25.000000|2907.000000|    680.000000|1841.000000| 633.000000|     2.676800|      82400.000000|
|-114.590000|34.830000|         41.000000| 812.000000|    168.000000| 375.000000| 158.000000|     1.708300|      48500.000000|
|-114.590000|33.610000|         34.000000|4789.000000|   1175.000000|3134.000000|1056.000000|     2.178200|      58400.000000|
|-114.600000|34.830000|         46.000000|1497.000000|    309.000000| 787.000000| 271.000000|     2.190800|      48100.000000|
|-114.600000|33.620000|         16.000000|3741.000000|    801.000000|2434.000000| 824.000000|     2.679700|      86500.000000|
|-114.600000|33.600000|         21.000000|1988.000000|    483.000000|1182.000000| 437.000000|     1.625000|      62000.000000|
|-114.610000|34.840000|         48.000000|1291.000000|    248.000000| 580.000000| 211.000000|     2.157100|      48600.000000|
|-114.610000|34.830000|         31.000000|2478.000000|    464.000000|1346.000000| 479.000000|     3.212000|      70400.000000|
|-114.630000|32.760000|         15.000000|1448.000000|    378.000000| 949.000000| 300.000000|     0.858500|      45000.000000|
|-114.650000|34.890000|         17.000000|2556.000000|    587.000000|1005.000000| 401.000000|     1.699100|      69100.000000|
|-114.650000|33.600000|         28.000000|1678.000000|    322.000000| 666.000000| 256.000000|     2.965300|      94900.000000|
|-114.650000|32.790000|         21.000000|  44.000000|     33.000000|  64.000000|  27.000000|     0.857100|      25000.000000|
|-114.660000|32.740000|         17.000000|1388.000000|    386.000000| 775.000000| 320.000000|     1.204900|      44000.000000|
|-114.670000|33.920000|         17.000000|  97.000000|     24.000000|  29.000000|  15.000000|     1.265600|      27500.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [ ]:
dataset.count()

17000

In [ ]:
dataset2.count()

3000

In [ ]:
dataset = dataset.union(dataset2)

In [ ]:
dataset.count()

20000

In [ ]:
dataset.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000| 472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000| 463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000| 117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000| 226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000| 262.000000|     1.925000|      65500.000000|
|-114.580000|33.630000|         29.000000|1387.000000|    236.000000| 671.000000| 239.000000|     3.343800|      74000.000000|
|-114.580000|33.610000|         25.000000|2907.000000|    680.000000|1841.000000| 633.000000|     2.676800|      82400.000000|
|-114.590000|34.830000|         41.000000| 812.000000|    168.000000| 375.000000| 158.000000|     1.708300|      48500.000000|
|-114.590000|33.610000|         34.000000|4789.000000|   1175.000000|3134.000000|1056.000000|     2.178200|      58400.000000|
|-114.600000|34.830000|         46.000000|1497.000000|    309.000000| 787.000000| 271.000000|     2.190800|      48100.000000|
|-114.600000|33.620000|         16.000000|3741.000000|    801.000000|2434.000000| 824.000000|     2.679700|      86500.000000|
|-114.600000|33.600000|         21.000000|1988.000000|    483.000000|1182.000000| 437.000000|     1.625000|      62000.000000|
|-114.610000|34.840000|         48.000000|1291.000000|    248.000000| 580.000000| 211.000000|     2.157100|      48600.000000|
|-114.610000|34.830000|         31.000000|2478.000000|    464.000000|1346.000000| 479.000000|     3.212000|      70400.000000|
|-114.630000|32.760000|         15.000000|1448.000000|    378.000000| 949.000000| 300.000000|     0.858500|      45000.000000|
|-114.650000|34.890000|         17.000000|2556.000000|    587.000000|1005.000000| 401.000000|     1.699100|      69100.000000|
|-114.650000|33.600000|         28.000000|1678.000000|    322.000000| 666.000000| 256.000000|     2.965300|      94900.000000|
|-114.650000|32.790000|         21.000000|  44.000000|     33.000000|  64.000000|  27.000000|     0.857100|      25000.000000|
|-114.660000|32.740000|         17.000000|1388.000000|    386.000000| 775.000000| 320.000000|     1.204900|      44000.000000|
|-114.670000|33.920000|         17.000000|  97.000000|     24.000000|  29.000000|  15.000000|     1.265600|      27500.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [ ]:
dataset.printSchema()

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

In [ ]:
dataset = dataset.withColumn("longitude",dataset.longitude.cast("Float"))
dataset.printSchema()

root
 |-- longitude: float (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

In [ ]:
dataset.show()

+---------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+---------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  -114.31|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000| 472.000000|     1.493600|      66900.000000|
|  -114.47|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000| 463.000000|     1.820000|      80100.000000|
|  -114.56|33.690000|         17.000000| 720.000000|    174.000000| 333.000000| 117.000000|     1.650900|      85700.000000|
|  -114.57|33.640000|         14.000000|1501.000000|    337.000000| 515.000000| 226.000000|     3.191700|      73400.000000|
|  -114.57|33.570000|         20.000000|1454.000000|    326.000000| 624.000000| 262.000000|     1.925000|      65500.000000|
|  -114.58|33.630000|         29.000000|1387.000000|    236.000000| 671.000000| 239.000000|     3.343800|      74000.000000|
|  -114.58|33.610000|         25.000000|2907.000000|    680.000000|1841.000000| 633.000000|     2.676800|      82400.000000|
|  -114.59|34.830000|         41.000000| 812.000000|    168.000000| 375.000000| 158.000000|     1.708300|      48500.000000|
|  -114.59|33.610000|         34.000000|4789.000000|   1175.000000|3134.000000|1056.000000|     2.178200|      58400.000000|
|   -114.6|34.830000|         46.000000|1497.000000|    309.000000| 787.000000| 271.000000|     2.190800|      48100.000000|
|   -114.6|33.620000|         16.000000|3741.000000|    801.000000|2434.000000| 824.000000|     2.679700|      86500.000000|
|   -114.6|33.600000|         21.000000|1988.000000|    483.000000|1182.000000| 437.000000|     1.625000|      62000.000000|
|  -114.61|34.840000|         48.000000|1291.000000|    248.000000| 580.000000| 211.000000|     2.157100|      48600.000000|
|  -114.61|34.830000|         31.000000|2478.000000|    464.000000|1346.000000| 479.000000|     3.212000|      70400.000000|
|  -114.63|32.760000|         15.000000|1448.000000|    378.000000| 949.000000| 300.000000|     0.858500|      45000.000000|
|  -114.65|34.890000|         17.000000|2556.000000|    587.000000|1005.000000| 401.000000|     1.699100|      69100.000000|
|  -114.65|33.600000|         28.000000|1678.000000|    322.000000| 666.000000| 256.000000|     2.965300|      94900.000000|
|  -114.65|32.790000|         21.000000|  44.000000|     33.000000|  64.000000|  27.000000|     0.857100|      25000.000000|
|  -114.66|32.740000|         17.000000|1388.000000|    386.000000| 775.000000| 320.000000|     1.204900|      44000.000000|
|  -114.67|33.920000|         17.000000|  97.000000|     24.000000|  29.000000|  15.000000|     1.265600|      27500.000000|
+---------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [ ]:
dataset.select("latitude").show)()

NameError: ignored

In [ ]:
lista_float = ["longitude","latitude","median_income","median_house_value"]
dataset = dataset.select([col(c).cast("Float") if c in lista_float else col(c).cast("Integer") for c in dataset.columns ])
dataset.printSchema()

root
 |-- longitude: float (nullable = true)
 |-- latitude: float (nullable = true)
 |-- housing_median_age: integer (nullable = true)
 |-- total_rooms: integer (nullable = true)
 |-- total_bedrooms: integer (nullable = true)
 |-- population: integer (nullable = true)
 |-- households: integer (nullable = true)
 |-- median_income: float (nullable = true)
 |-- median_house_value: float (nullable = true)

In [ ]:
dataset.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|                15|       5612|          1283|      1015|       472|       1.4936|           66900.0|
|  -114.47|    34.4|                19|       7650|          1901|      1129|       463|         1.82|           80100.0|
|  -114.56|   33.69|                17|        720|           174|       333|       117|       1.6509|           85700.0|
|  -114.57|   33.64|                14|       1501|           337|       515|       226|       3.1917|           73400.0|
|  -114.57|   33.57|                20|       1454|           326|       624|       262|        1.925|           65500.0|
|  -114.58|   33.63|                29|       1387|           236|       671|       239|       3.3438|           74000.0|
|  -114.58|   33.61|                25|       2907|           680|      1841|       633|       2.6768|           82400.0|
|  -114.59|   34.83|                41|        812|           168|       375|       158|       1.7083|           48500.0|
|  -114.59|   33.61|                34|       4789|          1175|      3134|      1056|       2.1782|           58400.0|
|   -114.6|   34.83|                46|       1497|           309|       787|       271|       2.1908|           48100.0|
|   -114.6|   33.62|                16|       3741|           801|      2434|       824|       2.6797|           86500.0|
|   -114.6|    33.6|                21|       1988|           483|      1182|       437|        1.625|           62000.0|
|  -114.61|   34.84|                48|       1291|           248|       580|       211|       2.1571|           48600.0|
|  -114.61|   34.83|                31|       2478|           464|      1346|       479|        3.212|           70400.0|
|  -114.63|   32.76|                15|       1448|           378|       949|       300|       0.8585|           45000.0|
|  -114.65|   34.89|                17|       2556|           587|      1005|       401|       1.6991|           69100.0|
|  -114.65|    33.6|                28|       1678|           322|       666|       256|       2.9653|           94900.0|
|  -114.65|   32.79|                21|         44|            33|        64|        27|       0.8571|           25000.0|
|  -114.66|   32.74|                17|       1388|           386|       775|       320|       1.2049|           44000.0|
|  -114.67|   33.92|                17|         97|            24|        29|        15|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
dataset.select([count(when(isnan(c) | col(c).isNull(),c)).alias(c) for c in dataset.columns]).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|        0|       0|                 0|          0|             0|         0|         0|            0|                 0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+

In [ ]:
vetor_col = "corr_features"
ass = VectorAssembler(inputCols=dataset.columns, outputCol=vetor_col)
df_vetor = ass.transform(dataset).select(vetor_col)
matrix = Correlation.corr(df_vetor, vetor_col)

In [ ]:
df_vetor.show()

+--------------------+
|       corr_features|
+--------------------+
|[-114.30999755859...|
|[-114.47000122070...|
|[-114.55999755859...|
|[-114.56999969482...|
|[-114.56999969482...|
|[-114.58000183105...|
|[-114.58000183105...|
|[-114.58999633789...|
|[-114.58999633789...|
|[-114.59999847412...|
|[-114.59999847412...|
|[-114.59999847412...|
|[-114.61000061035...|
|[-114.61000061035...|
|[-114.62999725341...|
|[-114.65000152587...|
|[-114.65000152587...|
|[-114.65000152587...|
|[-114.66000366210...|
|[-114.66999816894...|
+--------------------+
only showing top 20 rows

In [ ]:
matrix = matrix.collect()[0][0].values
matrix_cor = np.reshape(matrix,(9,9))

In [ ]:

schema = StructType([
    StructField('longitude', FloatType(), True),
    StructField('latitude',  FloatType(), True),
    StructField('housing_median_age',  FloatType(), True),
    StructField('total_rooms',  FloatType(), True),
    StructField('total_bedrooms',  FloatType(), True),
    StructField('population',  FloatType(), True),
    StructField('households',  FloatType(), True),
    StructField('median_income',  FloatType(), True),
    StructField('median_house_value',  FloatType(), True)
])

rdd = spark.sparkContext.parallelize(matrix_cor.tolist())
df = spark.createDataFrame(rdd,schema)
df.show()

+------------+------------+------------------+-----------+--------------+------------+-----------+-------------+------------------+
|   longitude|    latitude|housing_median_age|total_rooms|total_bedrooms|  population| households|median_income|median_house_value|
+------------+------------+------------------+-----------+--------------+------------+-----------+-------------+------------------+
|         1.0| -0.92517567|       -0.10682448|0.047465634|    0.07169962|  0.10299369| 0.05844283| -0.015882086|      -0.045788176|
| -0.92517567|         1.0|       0.010260145|-0.03891092|   -0.06921718| -0.11202547| -0.0739602| -0.079157405|       -0.14396892|
| -0.10682448| 0.010260145|               1.0|-0.36203358|   -0.32087323| -0.29628474| -0.3031087|  -0.12016073|        0.10446951|
| 0.047465634| -0.03891092|       -0.36203358|        1.0|     0.9297782|  0.85682565|   0.918234|   0.19920687|        0.13529752|
|  0.07169962| -0.06921718|       -0.32087323|  0.9297782|           1.0|   0.8773774|  0.9793953| -0.007951812|       0.051110916|
|  0.10299369| -0.11202547|       -0.29628474| 0.85682565|     0.8773774|         1.0| 0.90729135|  0.003883738|      -0.024234166|
|  0.05844283|  -0.0739602|        -0.3031087|   0.918234|     0.9793953|  0.90729135|        1.0|  0.013534965|       0.066572584|
|-0.015882086|-0.079157405|       -0.12016073| 0.19920687|  -0.007951812| 0.003883738|0.013534965|          1.0|        0.68910944|
|-0.045788176| -0.14396892|        0.10446951| 0.13529752|   0.051110916|-0.024234166|0.066572584|   0.68910944|               1.0|
+------------+------------+------------------+-----------+--------------+------------+-----------+-------------+------------------+

In [ ]:
dataset.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [ ]:
assembler = VectorAssembler(inputCols=['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 ], outputCol="features")
df = assembler.transform(dataset)
df = df.withColumn("label",df.median_house_value)

In [ ]:
df = df.drop("median_house_value")
#df = df.drop("longitude")
#df = df.drop("latitude")

In [ ]:
df.groupby("total_rooms").count().show()

+-----------+-----+
|total_rooms|count|
+-----------+-----+
|       1088|    6|
|       7240|    1|
|       2366|    7|
|       1645|    5|
|        833|    5|
|       1580|   12|
|       1591|   11|
|       2866|    4|
|       7880|    2|
|       1342|    5|
|       2142|    9|
|       4935|    1|
|       1959|    6|
|       1829|   10|
|       1238|    3|
|       2122|    7|
|       6336|    1|
|        471|    2|
|       2659|    2|
|       3175|    3|
+-----------+-----+
only showing top 20 rows

In [ ]:
df = df.withColumn('median_income',df.median_income * 1000)
df = df.withColumn('median_income',df.median_income.cast("Integer"))
df = df.withColumn('label',df.label.cast('Integer'))

In [ ]:
df.printSchema()

root
 |-- longitude: float (nullable = true)
 |-- latitude: float (nullable = true)
 |-- housing_median_age: integer (nullable = true)
 |-- total_rooms: integer (nullable = true)
 |-- total_bedrooms: integer (nullable = true)
 |-- population: integer (nullable = true)
 |-- households: integer (nullable = true)
 |-- median_income: integer (nullable = true)
 |-- features: vector (nullable = true)
 |-- label: integer (nullable = true)

In [ ]:
df = df.filter(df['label']<300000)

In [ ]:
df.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+--------------------+-----+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|            features|label|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+--------------------+-----+
|  -114.31|   34.19|                15|       5612|          1283|      1015|       472|         1493|[-114.30999755859...|66900|
|  -114.47|    34.4|                19|       7650|          1901|      1129|       463|         1820|[-114.47000122070...|80100|
|  -114.56|   33.69|                17|        720|           174|       333|       117|         1650|[-114.55999755859...|85700|
|  -114.57|   33.64|                14|       1501|           337|       515|       226|         3191|[-114.56999969482...|73400|
|  -114.57|   33.57|                20|       1454|           326|       624|       262|         1925|[-114.56999969482...|65500|
|  -114.58|   33.63|                29|       1387|           236|       671|       239|         3343|[-114.58000183105...|74000|
|  -114.58|   33.61|                25|       2907|           680|      1841|       633|         2676|[-114.58000183105...|82400|
|  -114.59|   34.83|                41|        812|           168|       375|       158|         1708|[-114.58999633789...|48500|
|  -114.59|   33.61|                34|       4789|          1175|      3134|      1056|         2178|[-114.58999633789...|58400|
|   -114.6|   34.83|                46|       1497|           309|       787|       271|         2190|[-114.59999847412...|48100|
|   -114.6|   33.62|                16|       3741|           801|      2434|       824|         2679|[-114.59999847412...|86500|
|   -114.6|    33.6|                21|       1988|           483|      1182|       437|         1625|[-114.59999847412...|62000|
|  -114.61|   34.84|                48|       1291|           248|       580|       211|         2157|[-114.61000061035...|48600|
|  -114.61|   34.83|                31|       2478|           464|      1346|       479|         3212|[-114.61000061035...|70400|
|  -114.63|   32.76|                15|       1448|           378|       949|       300|          858|[-114.62999725341...|45000|
|  -114.65|   34.89|                17|       2556|           587|      1005|       401|         1699|[-114.65000152587...|69100|
|  -114.65|    33.6|                28|       1678|           322|       666|       256|         2965|[-114.65000152587...|94900|
|  -114.65|   32.79|                21|         44|            33|        64|        27|          857|[-114.65000152587...|25000|
|  -114.66|   32.74|                17|       1388|           386|       775|       320|         1204|[-114.66000366210...|44000|
|  -114.67|   33.92|                17|         97|            24|        29|        15|         1265|[-114.66999816894...|27500|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+--------------------+-----+
only showing top 20 rows

In [ ]:
featureScaler = MinMaxScaler(inputCol="features", outputCol="scaledFeatures").fit(df)

In [ ]:
(treino, teste) = df.randomSplit([0.7, 0.3])

dt = GBTRegressor(featuresCol="scaledFeatures")

pipeline = Pipeline(stages=[featureScaler, dt])

model = pipeline.fit(treino)

pred = model.transform(teste)

In [ ]:
pred.select("prediction", "label", "features").show(15)

avaliador = RegressionEvaluator(labelCol="label", predictionCol="prediction", metricName="mae")

mae = avaliador.evaluate(pred)

print("Erro medio absoluto nos dados de teste = %g" % mae)

GBT = model.stages[1]
print(GBT)

+------------------+------+--------------------+
|        prediction| label|            features|
+------------------+------+--------------------+
| 83707.43521846783| 85800|[-124.30000305175...|
| 95724.24343764603| 79000|[-124.26999664306...|
|106144.92990711823|106700|[-124.23000335693...|
|102653.65407646306| 50800|[-124.23000335693...|
|   96209.929696267| 58100|[-124.20999908447...|
| 98805.54177811905| 69000|[-124.19000244140...|
|  81041.4109249334| 70000|[-124.19000244140...|
|102855.47793960074|107000|[-124.18000030517...|
|    85919.56007191| 70200|[-124.18000030517...|
| 96997.40435467602| 82800|[-124.16999816894...|
|  89556.4743892419| 75500|[-124.16999816894...|
| 93409.56771491795| 85400|[-124.16000366210...|
| 88208.91961847899| 76900|[-124.16000366210...|
| 94743.56145102641| 92700|[-124.16000366210...|
| 95034.42481360912| 74100|[-124.16000366210...|
+------------------+------+--------------------+
only showing top 15 rows

Erro medio absoluto nos dados de teste = 28278
GBTRegressionModel: uid=GBTRegressor_1c8aff5c8390, numTrees=20, numFeatures=8