In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-eu.apache.org/dist/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
!tar xf spark-2.4.1-bin-hadoop2.7.tgz
!pip install -q findspark
!pip install -q pyspark

tar: spark-2.4.1-bin-hadoop2.7.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
     |████████████████████████████████| 204.2MB 56kB/s
     |████████████████████████████████| 204kB 46.1MB/s
  Building wheel for pyspark (setup.py) ... done

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import isnan, when, count, col,lit,regexp_replace,expr
from pyspark.sql.types import  StructField, StructType, StringType, IntegerType,FloatType
from pyspark.ml.stat import Correlation
from pyspark.ml.feature import VectorAssembler,MinMaxScaler
import numpy as np
from pyspark.ml import Pipeline
from pyspark.ml.regression import GBTRegressor
from pyspark.ml.evaluation import RegressionEvaluator

In [ ]:
spark = SparkSession.builder.appName("Modelo de Regreção").getOrCreate()
dataset = spark.read.csv("sample_data/houses_to_rent.csv",header=True)

In [ ]:
dataset.show()

+---+----+----+-----+--------+--------------+-----+---------+-------------+-------+-----------+------------+--------------+--------+
|_c0|city|area|rooms|bathroom|parking spaces|floor|   animal|    furniture|    hoa|rent amount|property tax|fire insurance|   total|
+---+----+----+-----+--------+--------------+-----+---------+-------------+-------+-----------+------------+--------------+--------+
|  0|   1| 240|    3|       3|             4|    -|    acept|    furnished|    R$0|    R$8,000|     R$1,000|         R$121| R$9,121|
|  1|   0|  64|    2|       1|             1|   10|    acept|not furnished|  R$540|      R$820|       R$122|          R$11| R$1,493|
|  2|   1| 443|    5|       5|             4|    3|    acept|    furnished|R$4,172|    R$7,000|     R$1,417|          R$89|R$12,680|
|  3|   1|  73|    2|       2|             1|   12|    acept|not furnished|  R$700|    R$1,250|       R$150|          R$16| R$2,116|
|  4|   1|  19|    1|       1|             0|    -|not acept|not furnished|    R$0|    R$1,200|        R$41|          R$16| R$1,257|
|  5|   1|  13|    1|       1|             0|    2|    acept|not furnished|    R$0|    R$2,200|        R$42|          R$28| R$2,270|
|  6|   1|  55|    1|       1|             1|    2|    acept|    furnished|R$1,950|    R$5,000|       R$375|          R$64| R$7,389|
|  7|   1|  55|    2|       2|             1|    2|    acept|not furnished|  R$600|    R$1,300|        R$67|          R$17| R$1,984|
|  8|   1|  82|    3|       1|             1|    3|    acept|    furnished|  R$828|    R$2,000|       R$109|          R$26| R$2,963|
|  9|   1|  32|    1|       1|             1|   16|    acept|not furnished|  R$533|    R$2,900|         R$0|          R$37| R$3,470|
| 10|   0|  60|    1|       1|             0|    6|    acept|not furnished|  R$480|      R$720|        R$20|          R$10| R$1,230|
| 11|   0|  64|    1|       2|             1|    4|    acept|    furnished|  R$406|    R$1,550|         R$0|           R$7| R$1,963|
| 12|   1|  20|    1|       1|             0|    4|    acept|    furnished|  R$602|    R$1,800|       R$130|          R$23| R$2,555|
| 13|   1| 375|    4|       5|             5|    1|    acept|not furnished|R$4,793|   R$15,000|     R$2,805|         R$191|R$22,790|
| 14|   1|  92|    2|       1|             1|    7|not acept|    furnished|  R$690|    R$3,950|         R$0|          R$51| R$4,691|
| 15|   0|  56|    2|       1|             1|    1|    acept|not furnished|  R$345|      R$950|        R$11|          R$13| R$1,319|
| 16|   0| 188|    2|       3|             8|    -|    acept|not furnished|    R$0|    R$3,010|       R$584|          R$46| R$3,640|
| 17|   1| 100|    3|       2|             1|    -|    acept|not furnished|    R$0|    R$3,500|       R$260|          R$53| R$3,813|
| 18|   1| 192|    3|       3|             2|   13|    acept|not furnished|R$2,100|    R$7,800|       R$634|          R$99|R$10,630|
| 19|   1|  93|    3|       2|             1|   10|    acept|not furnished|R$1,497|    R$3,500|       R$227|          R$45| R$5,269|
+---+----+----+-----+--------+--------------+-----+---------+-------------+-------+-----------+------------+--------------+--------+
only showing top 20 rows

In [ ]:
dataset.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- city: string (nullable = true)
 |-- area: string (nullable = true)
 |-- rooms: string (nullable = true)
 |-- bathroom: string (nullable = true)
 |-- parking spaces: string (nullable = true)
 |-- floor: string (nullable = true)
 |-- animal: string (nullable = true)
 |-- furniture: string (nullable = true)
 |-- hoa: string (nullable = true)
 |-- rent amount: string (nullable = true)
 |-- property tax: string (nullable = true)
 |-- fire insurance: string (nullable = true)
 |-- total: string (nullable = true)

In [ ]:
dataset = dataset.withColumnRenamed("_c0","ID")

In [ ]:
dataset.show()

+---+----+----+-----+--------+--------------+-----+---------+-------------+-------+-----------+------------+--------------+--------+
| ID|city|area|rooms|bathroom|parking spaces|floor|   animal|    furniture|    hoa|rent amount|property tax|fire insurance|   total|
+---+----+----+-----+--------+--------------+-----+---------+-------------+-------+-----------+------------+--------------+--------+
|  0|   1| 240|    3|       3|             4|    -|    acept|    furnished|    R$0|    R$8,000|     R$1,000|         R$121| R$9,121|
|  1|   0|  64|    2|       1|             1|   10|    acept|not furnished|  R$540|      R$820|       R$122|          R$11| R$1,493|
|  2|   1| 443|    5|       5|             4|    3|    acept|    furnished|R$4,172|    R$7,000|     R$1,417|          R$89|R$12,680|
|  3|   1|  73|    2|       2|             1|   12|    acept|not furnished|  R$700|    R$1,250|       R$150|          R$16| R$2,116|
|  4|   1|  19|    1|       1|             0|    -|not acept|not furnished|    R$0|    R$1,200|        R$41|          R$16| R$1,257|
|  5|   1|  13|    1|       1|             0|    2|    acept|not furnished|    R$0|    R$2,200|        R$42|          R$28| R$2,270|
|  6|   1|  55|    1|       1|             1|    2|    acept|    furnished|R$1,950|    R$5,000|       R$375|          R$64| R$7,389|
|  7|   1|  55|    2|       2|             1|    2|    acept|not furnished|  R$600|    R$1,300|        R$67|          R$17| R$1,984|
|  8|   1|  82|    3|       1|             1|    3|    acept|    furnished|  R$828|    R$2,000|       R$109|          R$26| R$2,963|
|  9|   1|  32|    1|       1|             1|   16|    acept|not furnished|  R$533|    R$2,900|         R$0|          R$37| R$3,470|
| 10|   0|  60|    1|       1|             0|    6|    acept|not furnished|  R$480|      R$720|        R$20|          R$10| R$1,230|
| 11|   0|  64|    1|       2|             1|    4|    acept|    furnished|  R$406|    R$1,550|         R$0|           R$7| R$1,963|
| 12|   1|  20|    1|       1|             0|    4|    acept|    furnished|  R$602|    R$1,800|       R$130|          R$23| R$2,555|
| 13|   1| 375|    4|       5|             5|    1|    acept|not furnished|R$4,793|   R$15,000|     R$2,805|         R$191|R$22,790|
| 14|   1|  92|    2|       1|             1|    7|not acept|    furnished|  R$690|    R$3,950|         R$0|          R$51| R$4,691|
| 15|   0|  56|    2|       1|             1|    1|    acept|not furnished|  R$345|      R$950|        R$11|          R$13| R$1,319|
| 16|   0| 188|    2|       3|             8|    -|    acept|not furnished|    R$0|    R$3,010|       R$584|          R$46| R$3,640|
| 17|   1| 100|    3|       2|             1|    -|    acept|not furnished|    R$0|    R$3,500|       R$260|          R$53| R$3,813|
| 18|   1| 192|    3|       3|             2|   13|    acept|not furnished|R$2,100|    R$7,800|       R$634|          R$99|R$10,630|
| 19|   1|  93|    3|       2|             1|   10|    acept|not furnished|R$1,497|    R$3,500|       R$227|          R$45| R$5,269|
+---+----+----+-----+--------+--------------+-----+---------+-------------+-------+-----------+------------+--------------+--------+
only showing top 20 rows

In [ ]:
dataset.withColumn("hoa",regexp_replace(col("hoa"),"R\$","")).show()

+---+----+----+-----+--------+--------------+-----+---------+-------------+-----+-----------+------------+--------------+--------+
| ID|city|area|rooms|bathroom|parking spaces|floor|   animal|    furniture|  hoa|rent amount|property tax|fire insurance|   total|
+---+----+----+-----+--------+--------------+-----+---------+-------------+-----+-----------+------------+--------------+--------+
|  0|   1| 240|    3|       3|             4|    -|    acept|    furnished|    0|    R$8,000|     R$1,000|         R$121| R$9,121|
|  1|   0|  64|    2|       1|             1|   10|    acept|not furnished|  540|      R$820|       R$122|          R$11| R$1,493|
|  2|   1| 443|    5|       5|             4|    3|    acept|    furnished|4,172|    R$7,000|     R$1,417|          R$89|R$12,680|
|  3|   1|  73|    2|       2|             1|   12|    acept|not furnished|  700|    R$1,250|       R$150|          R$16| R$2,116|
|  4|   1|  19|    1|       1|             0|    -|not acept|not furnished|    0|    R$1,200|        R$41|          R$16| R$1,257|
|  5|   1|  13|    1|       1|             0|    2|    acept|not furnished|    0|    R$2,200|        R$42|          R$28| R$2,270|
|  6|   1|  55|    1|       1|             1|    2|    acept|    furnished|1,950|    R$5,000|       R$375|          R$64| R$7,389|
|  7|   1|  55|    2|       2|             1|    2|    acept|not furnished|  600|    R$1,300|        R$67|          R$17| R$1,984|
|  8|   1|  82|    3|       1|             1|    3|    acept|    furnished|  828|    R$2,000|       R$109|          R$26| R$2,963|
|  9|   1|  32|    1|       1|             1|   16|    acept|not furnished|  533|    R$2,900|         R$0|          R$37| R$3,470|
| 10|   0|  60|    1|       1|             0|    6|    acept|not furnished|  480|      R$720|        R$20|          R$10| R$1,230|
| 11|   0|  64|    1|       2|             1|    4|    acept|    furnished|  406|    R$1,550|         R$0|           R$7| R$1,963|
| 12|   1|  20|    1|       1|             0|    4|    acept|    furnished|  602|    R$1,800|       R$130|          R$23| R$2,555|
| 13|   1| 375|    4|       5|             5|    1|    acept|not furnished|4,793|   R$15,000|     R$2,805|         R$191|R$22,790|
| 14|   1|  92|    2|       1|             1|    7|not acept|    furnished|  690|    R$3,950|         R$0|          R$51| R$4,691|
| 15|   0|  56|    2|       1|             1|    1|    acept|not furnished|  345|      R$950|        R$11|          R$13| R$1,319|
| 16|   0| 188|    2|       3|             8|    -|    acept|not furnished|    0|    R$3,010|       R$584|          R$46| R$3,640|
| 17|   1| 100|    3|       2|             1|    -|    acept|not furnished|    0|    R$3,500|       R$260|          R$53| R$3,813|
| 18|   1| 192|    3|       3|             2|   13|    acept|not furnished|2,100|    R$7,800|       R$634|          R$99|R$10,630|
| 19|   1|  93|    3|       2|             1|   10|    acept|not furnished|1,497|    R$3,500|       R$227|          R$45| R$5,269|
+---+----+----+-----+--------+--------------+-----+---------+-------------+-----+-----------+------------+--------------+--------+
only showing top 20 rows

In [ ]:
dataset = dataset.select([regexp_replace(col(c),"R\$","").alias(c) for c in dataset.columns])
dataset = dataset.select([regexp_replace(col(c),",","").alias(c) for c in dataset.columns])
dataset = dataset.select([regexp_replace(col(c),"not acept","0").alias(c) for c in dataset.columns])
dataset = dataset.select([regexp_replace(col(c),"acept","1").alias(c) for c in dataset.columns])
dataset = dataset.withColumn("furniture",regexp_replace(col("furniture"),"not furnished","0"))
dataset = dataset.withColumn("furniture",regexp_replace(col("furniture"),"furnished","1"))

In [ ]:
dataset.show()

+---+----+----+-----+--------+--------------+-----+------+---------+----+-----------+------------+--------------+-----+
| ID|city|area|rooms|bathroom|parking spaces|floor|animal|furniture| hoa|rent amount|property tax|fire insurance|total|
+---+----+----+-----+--------+--------------+-----+------+---------+----+-----------+------------+--------------+-----+
|  0|   1| 240|    3|       3|             4|    -|     1|        1|   0|       8000|        1000|           121| 9121|
|  1|   0|  64|    2|       1|             1|   10|     1|        0| 540|        820|         122|            11| 1493|
|  2|   1| 443|    5|       5|             4|    3|     1|        1|4172|       7000|        1417|            89|12680|
|  3|   1|  73|    2|       2|             1|   12|     1|        0| 700|       1250|         150|            16| 2116|
|  4|   1|  19|    1|       1|             0|    -|     0|        0|   0|       1200|          41|            16| 1257|
|  5|   1|  13|    1|       1|             0|    2|     1|        0|   0|       2200|          42|            28| 2270|
|  6|   1|  55|    1|       1|             1|    2|     1|        1|1950|       5000|         375|            64| 7389|
|  7|   1|  55|    2|       2|             1|    2|     1|        0| 600|       1300|          67|            17| 1984|
|  8|   1|  82|    3|       1|             1|    3|     1|        1| 828|       2000|         109|            26| 2963|
|  9|   1|  32|    1|       1|             1|   16|     1|        0| 533|       2900|           0|            37| 3470|
| 10|   0|  60|    1|       1|             0|    6|     1|        0| 480|        720|          20|            10| 1230|
| 11|   0|  64|    1|       2|             1|    4|     1|        1| 406|       1550|           0|             7| 1963|
| 12|   1|  20|    1|       1|             0|    4|     1|        1| 602|       1800|         130|            23| 2555|
| 13|   1| 375|    4|       5|             5|    1|     1|        0|4793|      15000|        2805|           191|22790|
| 14|   1|  92|    2|       1|             1|    7|     0|        1| 690|       3950|           0|            51| 4691|
| 15|   0|  56|    2|       1|             1|    1|     1|        0| 345|        950|          11|            13| 1319|
| 16|   0| 188|    2|       3|             8|    -|     1|        0|   0|       3010|         584|            46| 3640|
| 17|   1| 100|    3|       2|             1|    -|     1|        0|   0|       3500|         260|            53| 3813|
| 18|   1| 192|    3|       3|             2|   13|     1|        0|2100|       7800|         634|            99|10630|
| 19|   1|  93|    3|       2|             1|   10|     1|        0|1497|       3500|         227|            45| 5269|
+---+----+----+-----+--------+--------------+-----+------+---------+----+-----------+------------+--------------+-----+
only showing top 20 rows

In [ ]:
lista_float = []
dataset = dataset.select([col(c).cast("Float") if c in lista_float else col(c).cast("Integer") for c in dataset.columns ])
dataset.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- city: integer (nullable = true)
 |-- area: integer (nullable = true)
 |-- rooms: integer (nullable = true)
 |-- bathroom: integer (nullable = true)
 |-- parking spaces: integer (nullable = true)
 |-- floor: integer (nullable = true)
 |-- animal: integer (nullable = true)
 |-- furniture: integer (nullable = true)
 |-- hoa: integer (nullable = true)
 |-- rent amount: integer (nullable = true)
 |-- property tax: integer (nullable = true)
 |-- fire insurance: integer (nullable = true)
 |-- total: integer (nullable = true)

In [ ]:
dataset.show()

+---+----+----+-----+--------+--------------+-----+------+---------+----+-----------+------------+--------------+-----+
| ID|city|area|rooms|bathroom|parking spaces|floor|animal|furniture| hoa|rent amount|property tax|fire insurance|total|
+---+----+----+-----+--------+--------------+-----+------+---------+----+-----------+------------+--------------+-----+
|  0|   1| 240|    3|       3|             4| null|     1|        1|   0|       8000|        1000|           121| 9121|
|  1|   0|  64|    2|       1|             1|   10|     1|        0| 540|        820|         122|            11| 1493|
|  2|   1| 443|    5|       5|             4|    3|     1|        1|4172|       7000|        1417|            89|12680|
|  3|   1|  73|    2|       2|             1|   12|     1|        0| 700|       1250|         150|            16| 2116|
|  4|   1|  19|    1|       1|             0| null|     0|        0|   0|       1200|          41|            16| 1257|
|  5|   1|  13|    1|       1|             0|    2|     1|        0|   0|       2200|          42|            28| 2270|
|  6|   1|  55|    1|       1|             1|    2|     1|        1|1950|       5000|         375|            64| 7389|
|  7|   1|  55|    2|       2|             1|    2|     1|        0| 600|       1300|          67|            17| 1984|
|  8|   1|  82|    3|       1|             1|    3|     1|        1| 828|       2000|         109|            26| 2963|
|  9|   1|  32|    1|       1|             1|   16|     1|        0| 533|       2900|           0|            37| 3470|
| 10|   0|  60|    1|       1|             0|    6|     1|        0| 480|        720|          20|            10| 1230|
| 11|   0|  64|    1|       2|             1|    4|     1|        1| 406|       1550|           0|             7| 1963|
| 12|   1|  20|    1|       1|             0|    4|     1|        1| 602|       1800|         130|            23| 2555|
| 13|   1| 375|    4|       5|             5|    1|     1|        0|4793|      15000|        2805|           191|22790|
| 14|   1|  92|    2|       1|             1|    7|     0|        1| 690|       3950|           0|            51| 4691|
| 15|   0|  56|    2|       1|             1|    1|     1|        0| 345|        950|          11|            13| 1319|
| 16|   0| 188|    2|       3|             8| null|     1|        0|   0|       3010|         584|            46| 3640|
| 17|   1| 100|    3|       2|             1| null|     1|        0|   0|       3500|         260|            53| 3813|
| 18|   1| 192|    3|       3|             2|   13|     1|        0|2100|       7800|         634|            99|10630|
| 19|   1|  93|    3|       2|             1|   10|     1|        0|1497|       3500|         227|            45| 5269|
+---+----+----+-----+--------+--------------+-----+------+---------+----+-----------+------------+--------------+-----+
only showing top 20 rows

In [ ]:
dataset.select([count(when(isnan(c) | col(c).isNull(),c)).alias(c) for c in dataset.columns]).show()

+---+----+----+-----+--------+--------------+-----+------+---------+---+-----------+------------+--------------+-----+
| ID|city|area|rooms|bathroom|parking spaces|floor|animal|furniture|hoa|rent amount|property tax|fire insurance|total|
+---+----+----+-----+--------+--------------+-----+------+---------+---+-----------+------------+--------------+-----+
|  0|   0|   0|    0|       0|             0| 1555|     0|        0|202|          0|          27|             0|    0|
+---+----+----+-----+--------+--------------+-----+------+---------+---+-----------+------------+--------------+-----+

In [ ]:
dataset.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+-------------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+
|summary|                ID|              city|              area|             rooms|          bathroom|    parking spaces|            floor|             animal|         furniture|               hoa|      rent amount|     property tax|   fire insurance|            total|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+-------------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+
|  count|              6080|              6080|              6080|              6080|              6080|              6080|             4525|               6080|              6080|              5878|             6080|             6053|             6080|             6080|
|   mean|            3039.5|0.8633223684210526|151.14391447368422| 2.492598684210526| 2.341611842105263|           1.75625|7.621436464088398| 0.7674342105263158|0.2601973684210526|1125.8307247363048|4395.844407894737|492.5205683132331|58.20427631578947|6033.194572368421|
| stddev|1755.2891499693148|0.3435349577192637|375.55948526695715|1.1296645317963483|1.4388604845456916|1.6119088446235266|6.023027588459168|0.42250242952960154|0.4387782622328833|4043.9976302559285|  3576.6689462284|6226.320762302373|49.31344114620117|8751.347699984131|
|    min|                 0|                 0|                10|                 1|                 1|                 0|                1|                  0|                 0|                 0|              420|                0|                3|              660|
|    max|              6079|                 1|             24606|                10|                10|                12|               99|                  1|                 1|            220000|            45000|           366300|              677|           372700|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+-------------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+

In [ ]:
dataset = dataset.drop("floor")

In [ ]:
dataset = dataset.dropna()

In [ ]:
dataset.show()

+---+----+----+-----+--------+--------------+------+---------+----+-----------+------------+--------------+-----+
| ID|city|area|rooms|bathroom|parking spaces|animal|furniture| hoa|rent amount|property tax|fire insurance|total|
+---+----+----+-----+--------+--------------+------+---------+----+-----------+------------+--------------+-----+
|  0|   1| 240|    3|       3|             4|     1|        1|   0|       8000|        1000|           121| 9121|
|  1|   0|  64|    2|       1|             1|     1|        0| 540|        820|         122|            11| 1493|
|  2|   1| 443|    5|       5|             4|     1|        1|4172|       7000|        1417|            89|12680|
|  3|   1|  73|    2|       2|             1|     1|        0| 700|       1250|         150|            16| 2116|
|  4|   1|  19|    1|       1|             0|     0|        0|   0|       1200|          41|            16| 1257|
|  5|   1|  13|    1|       1|             0|     1|        0|   0|       2200|          42|            28| 2270|
|  6|   1|  55|    1|       1|             1|     1|        1|1950|       5000|         375|            64| 7389|
|  7|   1|  55|    2|       2|             1|     1|        0| 600|       1300|          67|            17| 1984|
|  8|   1|  82|    3|       1|             1|     1|        1| 828|       2000|         109|            26| 2963|
|  9|   1|  32|    1|       1|             1|     1|        0| 533|       2900|           0|            37| 3470|
| 10|   0|  60|    1|       1|             0|     1|        0| 480|        720|          20|            10| 1230|
| 11|   0|  64|    1|       2|             1|     1|        1| 406|       1550|           0|             7| 1963|
| 12|   1|  20|    1|       1|             0|     1|        1| 602|       1800|         130|            23| 2555|
| 13|   1| 375|    4|       5|             5|     1|        0|4793|      15000|        2805|           191|22790|
| 14|   1|  92|    2|       1|             1|     0|        1| 690|       3950|           0|            51| 4691|
| 15|   0|  56|    2|       1|             1|     1|        0| 345|        950|          11|            13| 1319|
| 16|   0| 188|    2|       3|             8|     1|        0|   0|       3010|         584|            46| 3640|
| 17|   1| 100|    3|       2|             1|     1|        0|   0|       3500|         260|            53| 3813|
| 18|   1| 192|    3|       3|             2|     1|        0|2100|       7800|         634|            99|10630|
| 19|   1|  93|    3|       2|             1|     1|        0|1497|       3500|         227|            45| 5269|
+---+----+----+-----+--------+--------------+------+---------+----+-----------+------------+--------------+-----+
only showing top 20 rows

In [ ]:
x = dataset.drop("total")

In [ ]:
ass = VectorAssembler(inputCols=x.columns, outputCol="features")
dataset = ass.transform(dataset)

In [ ]:
dataset = dataset.withColumnRenamed("total","label")

In [ ]:
dataset.show()

+---+----+----+-----+--------+--------------+------+---------+----+-----------+------------+--------------+-----+--------------------+
| ID|city|area|rooms|bathroom|parking spaces|animal|furniture| hoa|rent amount|property tax|fire insurance|label|            features|
+---+----+----+-----+--------+--------------+------+---------+----+-----------+------------+--------------+-----+--------------------+
|  0|   1| 240|    3|       3|             4|     1|        1|   0|       8000|        1000|           121| 9121|[0.0,1.0,240.0,3....|
|  1|   0|  64|    2|       1|             1|     1|        0| 540|        820|         122|            11| 1493|[1.0,0.0,64.0,2.0...|
|  2|   1| 443|    5|       5|             4|     1|        1|4172|       7000|        1417|            89|12680|[2.0,1.0,443.0,5....|
|  3|   1|  73|    2|       2|             1|     1|        0| 700|       1250|         150|            16| 2116|[3.0,1.0,73.0,2.0...|
|  4|   1|  19|    1|       1|             0|     0|        0|   0|       1200|          41|            16| 1257|[4.0,1.0,19.0,1.0...|
|  5|   1|  13|    1|       1|             0|     1|        0|   0|       2200|          42|            28| 2270|[5.0,1.0,13.0,1.0...|
|  6|   1|  55|    1|       1|             1|     1|        1|1950|       5000|         375|            64| 7389|[6.0,1.0,55.0,1.0...|
|  7|   1|  55|    2|       2|             1|     1|        0| 600|       1300|          67|            17| 1984|[7.0,1.0,55.0,2.0...|
|  8|   1|  82|    3|       1|             1|     1|        1| 828|       2000|         109|            26| 2963|[8.0,1.0,82.0,3.0...|
|  9|   1|  32|    1|       1|             1|     1|        0| 533|       2900|           0|            37| 3470|[9.0,1.0,32.0,1.0...|
| 10|   0|  60|    1|       1|             0|     1|        0| 480|        720|          20|            10| 1230|[10.0,0.0,60.0,1....|
| 11|   0|  64|    1|       2|             1|     1|        1| 406|       1550|           0|             7| 1963|[11.0,0.0,64.0,1....|
| 12|   1|  20|    1|       1|             0|     1|        1| 602|       1800|         130|            23| 2555|[12.0,1.0,20.0,1....|
| 13|   1| 375|    4|       5|             5|     1|        0|4793|      15000|        2805|           191|22790|[13.0,1.0,375.0,4...|
| 14|   1|  92|    2|       1|             1|     0|        1| 690|       3950|           0|            51| 4691|[14.0,1.0,92.0,2....|
| 15|   0|  56|    2|       1|             1|     1|        0| 345|        950|          11|            13| 1319|[15.0,0.0,56.0,2....|
| 16|   0| 188|    2|       3|             8|     1|        0|   0|       3010|         584|            46| 3640|[16.0,0.0,188.0,2...|
| 17|   1| 100|    3|       2|             1|     1|        0|   0|       3500|         260|            53| 3813|[17.0,1.0,100.0,3...|
| 18|   1| 192|    3|       3|             2|     1|        0|2100|       7800|         634|            99|10630|[18.0,1.0,192.0,3...|
| 19|   1|  93|    3|       2|             1|     1|        0|1497|       3500|         227|            45| 5269|[19.0,1.0,93.0,3....|
+---+----+----+-----+--------+--------------+------+---------+----+-----------+------------+--------------+-----+--------------------+
only showing top 20 rows

In [ ]:
featureScaler = MinMaxScaler(inputCol="features", outputCol="scaledFeatures").fit(dataset)

In [ ]:
(treino, teste) = dataset.randomSplit([0.7, 0.3])

In [ ]:
dt = GBTRegressor(featuresCol="scaledFeatures")

pipeline = Pipeline(stages=[featureScaler, dt])

model = pipeline.fit(treino)

pred = model.transform(teste)

In [ ]:
pred.select("prediction", "label", "features").show(15)

avaliador = RegressionEvaluator(labelCol="label", predictionCol="prediction", metricName="mae")

mae = avaliador.evaluate(pred)

print("Erro medio absoluto nos dados de teste = %g" % mae)

GBT = model.stages[1]
print(GBT)

+------------------+-----+--------------------+
|        prediction|label|            features|
+------------------+-----+--------------------+
|  9456.07182231054| 9121|[0.0,1.0,240.0,3....|
|1432.2770292031184| 1493|[1.0,0.0,64.0,2.0...|
| 2649.208007140318| 2116|[3.0,1.0,73.0,2.0...|
|1613.2700339579374| 1984|[7.0,1.0,55.0,2.0...|
|4854.8366856911325| 4691|[14.0,1.0,92.0,2....|
|1362.8475957971316| 1319|[15.0,0.0,56.0,2....|
|3572.2207905979053| 3813|[17.0,1.0,100.0,3...|
|2507.3115667738653| 2923|[20.0,1.0,155.0,3...|
|4056.3621644682917| 4452|[22.0,1.0,65.0,2....|
|3590.0537491097834| 3577|[25.0,1.0,31.0,1....|
|15100.852021526594|17260|[27.0,1.0,300.0,3...|
| 6230.835644332444| 6175|[29.0,1.0,130.0,3...|
|  19010.3427742286|19100|[39.0,1.0,191.0,3...|
|24948.272073552045|24530|[41.0,1.0,800.0,4...|
|3456.4576450967006| 3000|[45.0,1.0,100.0,2...|
+------------------+-----+--------------------+
only showing top 15 rows

Erro medio absoluto nos dados de teste = 1025.36
GBTRegressionModel: uid=GBTRegressor_b6f3c9cfd7f7, numTrees=20, numFeatures=12